.po_items_ho {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 item per baris */
    gap: 2rem; /* Jarak antar item */
    justify-content: center;
}

.po_item {
    width: 100%;
    max-width: 40em; /* Maksimal 40em agar tidak terlalu besar */
    height: 24em; 
    text-align: center;
    margin: auto;
    position: relative;
    background: var(--secondary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
}

.po_item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan gambar memenuhi card */
}

.po_item .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid black;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 6px 12px; /* Tombol lebih besar */
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 1024px) { /* Untuk tablet */
    .po_items_ho {
        grid-template-columns: repeat(1, 1fr); /* 1 item per baris di tablet */
    }

    .po_item {
        max-width: 30em; /* Sedikit lebih kecil di tablet */
        height: 20em;
    }
}

@media (max-width: 768px) { /* Untuk HP */
    .po_items_ho {
        grid-template-columns: repeat(1, 1fr); /* Tetap 1 item per baris di HP */
    }

    .po_item {
        max-width: 100%; /* Full lebar */
        height: auto; /* Biarkan tinggi menyesuaikan */
    }
}
