.po_items_ho {
    column-width: 18em; 
    column-gap: 18rem;
}

.po_item {
    display: inline-block;
    width: 40em; /* Lebar lebih besar */
    height: 24em; /* Tinggi lebih besar */
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--secondary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
}

.po_item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan gambar memenuhi card */
}

.po_item .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid black;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 6px 12px; /* Tombol lebih besar */
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}
